// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

//
$paddingLeft: 18%;
$paddingLeft2: 15%;

// Colors
$doc-white: #ffffff;
$doc-primary: #375fec;
$doc-dark: #05131d;
$doc-gray: #bfbfbf;
$doc-fair-white: #f9f9f9;
$doc-fair-dark: #283640;
$doc-dark-shade: #46494a;
$doc-white-shade: #f4f4f4;
$doc-error: #e08380;
$doc-dividers: #eceef0;
$doc-btn-bg: #fafafa;
